<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
</head>
<body>
    <h1>Image Classification</h1>
    
    <input type="file" id="imageUpload" accept="image/*">
    <button id="classifyButton">Classify Image</button>

    <div id="resultContainer"></div>

    <h2>Random Image</h2>
    <button id="getRandomImageButton">Get Random Image</button>
    <img id="randomImage" src="" alt="Random Image">

    <script>
        document.getElementById('classifyButton').addEventListener('click', function() {
            const fileInput = document.getElementById('imageUpload');
            const selectedFile = fileInput.files[0];
            
            if (selectedFile) {
                const formData = new FormData();
                formData.append('image', selectedFile);

                fetch('/api/classify_image', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const resultContainer = document.getElementById('resultContainer');
                    resultContainer.innerHTML = '<h2>Classification Result</h2>';
                    // Assuming data contains 'result' field
                    resultContainer.innerHTML += '<p>' + JSON.stringify(data) + '</p>';
                })
                .catch(error => {
                    console.error('Error uploading and classifying image:', error);
                });
            } else {
                console.error('No file selected');
            }
        });
document.getElementById('getRandomImageButton').addEventListener('click', function() {
    fetch('/api/random_image')
        .then(response => {
            console.log("got a response")
            if (!response.ok) {
                console.log("a")
                throw new Error('Network response was not ok');
            }
            // Assuming the response is a Blob representing the image file
            return response.blob();
        })
        .then(blob => {
            // Create an object URL from the blob
            const imageUrl = URL.createObjectURL(blob);
            console.log(imageUrl)
            // Set the src attribute of the img element to the object URL
            const randomImageElement = document.getElementById('randomImage');
            randomImageElement.src = imageUrl;
        })
        .catch(error => {
            console.error('Error fetching random image:', error);
        });
});
    </script>
</body>
</html>
